*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.bodycontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.maincontainer{
    display: flex;
    flex-direction: column;
    gap:1.7em;
    height: 17em;
    width: 18em;
    border-radius: 0.5em;
    padding: 2em;
    background-color: rgb(235, 240, 136);
}
input{
    border: none;
    padding: 1em;
    border-radius: 0.5em;
}
button{
     border: none;
    padding: 0.7em;
    color: white;
    background-color: rgb(57, 142, 57);
    font-size: 16px;
    border-radius: 0.5em;
    cursor: pointer;
}
button:hover{
    background-color: rgb(46, 112, 46);
}